.archive
  aside
    max-width 500px
    .archive-list
      .archive-list-item
        .archive-list-link
          font-size 30px
          display block
          margin-left 30px
    .archive-list-item
      list-style-type none
      position relative
      width 2px
      margin 0 auto
      padding-top 20px
      background #b5b5b5
      .archive-list-box
        width 200px
        height 50px
        margin-left 30px
        transform translate3d(-200px, 0, 0)
        visibility hidden
        opacity 0
        transition all .5s ease-in-out
        position relative
        bottom 0
        width 400px
        padding 15px
        a
          font-size 25px
          display block
          margin-bottom 12px
        time
          font-size 15px
          color #ccc
    .archive-list-item::after
      content ''
      border 5px solid white
      position absolute
      left 50%
      top 50%
      bottom 0
      transform translateX(-50%)
      width 10px
      height 10px
      border-radius 50%
      background inherit
      background #8e8d8d
      transition background .5s ease-in-out
      a
        font-size 25px
      time
        font-size 15px
        color #ccc
    .in-view
      .archive-list-box
        transform none
        visibility visible
        opacity 1
      .archive-list-box::after
        background #F45B69
        
        
        