#content-outer
  max-width 800px
  margin 0 auto
  margin-top 2rem
  #content-inner
  .page
    padding 1rem 0 1rem
    .prev
      float left
    .next
      float right 
    .recent-post-item
      padding 3rem 0 1.5rem
      border-bottom 1px solid #828282
      .read
          float right
        h1
          padding 0 0 1rem 0